@import 'src/shared/styles/base';

.logo {
  text-decoration: none;
  @include flex(center, center);
  @include tablet {
    @include flex(flex-start, center);
  }
}

.text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: #ffffff;
}
