@import 'src/shared/styles/base';

.input {
  width: 240px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #ced2d1;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #000000;
  outline: none;
  padding-left: 25px;
  &::placeholder {
    color: #bbbbbb;
  }

  @include tablet {
    width: 425px;
  }
}

.formGroup {
  margin-bottom: 20px;
  @include tablet {
    margin-bottom: 24px;
  }
}
