@import 'src/shared/styles/base';
@import 'src/shared/styles/common';

.userInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  text-align: start;
  margin-right: 20px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #ffffff, #f2f3f4, #c0c0c0, grey);
  @include tablet {
    font-size: 16px;
    line-height: 1.21;
  }
}

.avatar {
  width: 20px;
  border-radius: 50px;
  margin-right: 10px;
  @include tablet {
    width: 32px;
  }
}

.btnLogOut {
  cursor: pointer;
  fill: grey;
}
