@import 'src/shared/styles/base';
@import 'src/shared/styles/common';

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  @include desktop {
    grid-template-columns: repeat(2, 1fr);
  }
  &Card {
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    overflow: scroll;
    @include tablet {
      padding: 50px;
    }
  }
}

.cardPageContainer {
  padding-top: 60px;
  padding-bottom: 50px;
}

.title {
  font-size: 10px;
  line-height: 1.2;
  text-align: start;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  @include tablet {
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 30px;
  }
}
