@import 'src/shared/styles/base';
@import 'src/shared/styles/common';
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  &Card {
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
}

.cardPageContainer {
  padding-top: 60px;
  padding-bottom: 50px;
}
